<!DOCTYPE html>
<html lang="en">
<%- Head %>
<body class="flex justify-between">
    <%- Header %>
    
    <div class="w-1/2 h-screen bg-custom-khaki-light flex flex-col items-center justify-center">
        <h1 class="text-[130px]">DataLabs</h1>
        <h3 class="max-w-md font-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum excepturi corrupti commodi deserunt omnis, ratione ipsum pariatur inventore. Dicta eos eveniet quidem praesentium laborum excepturi provident exercitationem facilis nam fugiat!</h3>
    </div>
    <div class="w-1/2 h-screen text-3xl font-semibold flex items-center justify-center bg-custom-black text-custom-khaki-light">
        <ol class="grid grid-flow-row gap-20 w-full px-14">
            <li>
                <a href="upload-csv" class="w-full inline-flex items-center justify-between hover:text-custom-khaki-dark transition duration-0.75">
                    <div>
                        <h3><span class="mr-7">01</span>Upload CSV</h3>
                        <h3 class="font-light text-xl ml-16">Menambahkan data dari file csv ke tabel basis data</h3>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="graph-bar" class="w-full inline-flex items-center justify-between hover:text-custom-khaki-dark transition duration-0.75">
                    <div>
                        <h3><span class="mr-7">02</span>Grafik bar</h3>
                        <h3 class="font-light text-xl ml-16">Menampilkan visualisasi grafik bar secara dinamis</h3>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="scatter-plot" class="w-full inline-flex items-center justify-between hover:text-custom-khaki-dark transition duration-0.75">
                    <div>
                        <h3><span class="mr-7">03</span>Scatter plot</h3>
                        <h3 class="font-light text-xl ml-16">Menampilkan visualisasi scatter plot secara dinamis</h3>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </li>
            <li>
                <a href="summary" class="w-full inline-flex items-center justify-between hover:text-custom-khaki-dark transition duration-0.75">
                    <div>
                        <h3><span class="mr-7">04</span>Summary</h3>
                        <h3 class="font-light text-xl ml-16">Menampilkan Ringkasan data dalam format tabel</h3>
                    </div>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-8 h-8">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </li>
            
        </ol>
    </div>
</body>
</html>
